[user]
	name = Alex Towe
	email = 107151439+alextowe@users.noreply.github.com
	signingkey = /home/alex/.ssh/id_ed25519.pub

[gpg]
	format = ssh

[init]
	defaultBranch = main

[alias]
	st = status

[color]
	ui = auto

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
